/*
Use your CSS skills to restyle the page!

Requirements:
1. Properly use at least one id selector, class selector and tag selector.
2. Restyle at least three elements however you want.
3. Use flexbox to:
  1. Center an element
  2. Create columns in one section
*/

body {
  background: hsla(0, 100%, 90%, 0.3);
  font-family: Tahoma, Geneva, sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
}

#hr1 {
  border-top: 1px solid black;
}

ul {
  background-color: pink;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 30px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.about {
  line-height: 1.8;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-content: stretch;
  margin: 50px;
}

#about {
  word-wrap: break-word;
  margin-right: 60px;
}

.experience {
  margin: 50px;
}

.contact {
  margin: 50px;
}

.foot {
  margin:50px;
}
